.wp-block-syntaxhighlighter {

	&__language_toolbar {
		.components-dropdown-menu__menu-item.is-active {
			font-weight: bold;
		}
	}

	.editor-styles-wrapper &-code {
		position: relative;
		padding: 14px;
		border-width: 1px;
		border-radius: 0;
	}

	&__lines {
		position: absolute;
		left: -32px;
		top: -1px;
		bottom: -1px;
		width: 28px;
		border-right: 2px solid var(--wp-admin-theme-color);
		overflow: visible;
		cursor: pointer;
		text-align: right;
		color: rgba(#000, 0.3);
		line-height: 24px;
		padding: 15px 2px;
		div {
			pointer-events: none;
			height: 24px;
			user-select: none;
		}
	}

	&__line {
		height: 24px;
		background: var(--wp-admin-theme-color);
		pointer-events: none;
		opacity: 0.2;
		position: absolute;
		right: 0;
		left: 0;
		.wp-block[data-type='syntaxhighlighter/code'].is-selected {
			left: -32px;
		}
		&.is-selection, &.is-removing {
			opacity: 0.1;
		}
	}

	&__textarea {
		line-height: 24px !important;
		padding: 0;
	}
}